body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: #1b2127;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?xeb3t9');
    src:  url('../fonts/icomoon.eot?xeb3t9#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?xeb3t9') format('truetype'),
        url('../fonts/icomoon.woff?xeb3t9') format('woff'),
        url('../fonts/icomoon.svg?xeb3t9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}



[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e900";
}

.burger-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    line-height: 35px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: white;
    margin: 0;
}

h1 strong{
    color: rgb(0, 140, 255);
}

.hero{
    height: 300px;
    background-color: #1b2127;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-image{
    object-fit: cover;
}



.portfolio{
    background-color: #fafafa;
    padding: 20px;
    
}

h2{
    color: rgb(0, 140, 255);
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.menu{
    position: fixed;
    background: rgba(2, 102, 184, 0.89);
    z-index: 3;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.menu.is-active{
    left: 0;
}

.project{
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-title{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-number, .project-date{
    margin: 10px 0px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.project-description{
    font-size: 20px;
}

.project-details{
    width: 50%;
}

.project-imageContainer{
    width: 50%;
}

.project-imageContainer img{
    max-width: 100%;
}


.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 120;    
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header ol{
    display: flex;
    height: inherit;

}

.header ol li{
    height: inherit;
}

.header nav{
    height: inherit;
}

.header a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    padding: 0px 10px;
    color: white;
    text-decoration: underline;
    height: 40px;
    font-size: 2em;
    margin-bottom: .5em;
}

ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

 .event-list{
    display: flex;
    flex-wrap: wrap;
 }

.event{
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4fbff;
}

.event image{
    width: 480px;
    height: 200px;
    object-fit: cover;
}


.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-detail description{
    text-align: left;
}

.event-url{
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.event-list-title{
    margin-left: 20px;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-email input{
    border-color: gray;
    border-style: solid;
    padding: 5px 20px 5px 25px;
    background-image: url('../images/logo.png');
    background-size: 15px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 5px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top : 10px;
}

.form-email h3{
    font-family: 'Fjalla One', sans-serif;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter{
    background-image: url('../images/twitter.svg');
}

.social-link.facebook{
    background-image: url('../images/facebook.svg');
}

.social-link.github{                
    background-image: url('../images/github.svg');
}

.social-link.instagram{
    background-image: url('../images/instagram.svg');
}

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    flex: 1;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;

}


.header .logo img{
    object-fit: cover;
}


/* comentario */ 

@media screen and (max-width: 1023px) {

    .container{
        padding: 0 1em;
    }

}
 

@media screen and (max-width: 767px) {

    .burger-button {
        display: block;
    }
    
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    
    .hero-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    
    h1{
        font-size: 2em;
        z-index: 2;
    } 
    
    .header{
        display: block;
        height: auto;
    }

    .header ol{
        display: initial;
    }

    .header ol li{
        height: 50px;
    }

    .header a{
        justify-content: center;
    }

    .header .logo{
        text-align: center;
        
    }

    .project{
        display: block;
    }

    .project-imageContainer{
        width: auto;
        text-align: center;
    }

    .project-details{
        width: auto;
        font-size: 12px;
    }

    .project-number, .project-date{
        margin: .4em 0px;
    }

    .project-title{
        font-size: 1.5em;
        margin-bottom: .3em;
    }

    .project-number{
        font-size: 1em;
    }

    .project-date{
        font-size: 1.2;
    }

    .project-description{
        font-size: .7;
    }

    .event{
        width: 100%;
        flex-shrink: initial;
    }

    .event img{
        width: 100%;
    }


} 

@media screen and (max-width: 480px) {

    .project-details{
        font-size: 12px;
    }

    .event-detail{
        /*1em = 16px*/
        margin: -2em .5em .5em;
        padding: 1em;

    }
    .contact{
        height:auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }

    .form-email button{
        margin: 1em auto;
    }

    .form-email h3{
        margin-top: 0;
    }
    
    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }

    h1{
        font-size: 1.5em;
    }

    .social-link{
        width: 40px;
        height: 40px;
        background-size: 100%;;
    }
}

@media screen and (max-width: 320px) {
    
    h1{
        font-size: 1.2em;
        padding: 2em 1em;
    }

}

